@model CadastroDeClientes.Models.ClientesModel

@{
    ViewData["Title"] = "CriarCliente";
}

<h1>Cadastrar Pessoal</h1>

<h4>Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CriarCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-row">

                <div class="form-group col-6">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" class="form-control cpf" name="Cpf" id="Cpf" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="DataNascimento" class="control-label"></label>
                    <input asp-for="DataNascimento" type="date" class="form-control" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <div class="form-check">
                        <input asp-for="Tipo" value="1" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Cancelado
                        </label>
                    </div>
                </div>
                <div class="form-group col-2">
                    <div class="form-check">
                        <input asp-for="Tipo" class="form-check-input" type="radio" value="0" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Bloqueado
                        </label>
                    </div>
                </div>
                <div class="form-group col-2">
                    <div class="form-check">
                        <input asp-for="Tipo" value="1" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Padrão
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}




